$cell_width: 16%;
.HeaderRow {
    position: fixed;
    left: 0px;
    width: 100%;
    top: 11.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    .rowCell {
        padding: 1rem 2px;
        width: $cell_width;
        text-align: center;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        font-size: 1.4rem;
        color: #7f7f7f;
        background-color: #E3E6E9;
        @media screen and (max-width: 480px) {
          font-size: 1rem;
        }
        .sort {
            font-size: 1.5rem;
            vertical-align: top;
            padding-right: 3px;
            color: $page-color-primary-darken
        }
    }
}
