@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/mixins";
@import "~react-toolbox/lib/app_bar/config";
@import "~react-toolbox/lib/button/config";


$offset: 1.8 * $unit;

.app {
  @include no-webkit-scrollbar;
  .materialList {
    section, div section {
      padding: $offset;
      margin-bottom: $offset;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0,0,0, 0.25);
      h5 {
        color: rgb(48, 63, 159);
        &:not(:first-child) {
          margin-top: 2 * $offset;
        }
      }
      p {
        margin: ($offset / 4) 0;
        opacity: .6;
      }
      [data-react-toolbox="card"] {
        display: inline-block;
        margin: $offset $offset 0 0;
      }
    }
  }
}

.github {
  position: fixed;
  top: $appbar-height - ($button-floating-height / 2);
  right: $button-floating-height / 2;
  z-index: $z-index-higher;
}

.appbar {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  > h1 {
    flex-grow: 1;
    font-size: 1.8 * $unit;
    font-weight: bold;
    > small {
      font-size: 1.8 * $unit;
      font-weight: normal;
    }
  }
}

.primary {
  background-color: $color-primary;
}

.cards {
  margin-top: 10px;
  background-color: #f8f8f8;
  border: 1px solid #f4f4f4;
}

.cardsGroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
  list-style: none;
}

.cardRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .media {
    width: 80px;
    height: 80px;
    margin: 16px 16px 0 0;
  }
  .mediaLarge {
    width: 140px;
    height: 140px;
    margin: 16px;
  }
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.cardItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardItemName {
  display: block;
  margin: 15px 0;
  text-align: center;
}

.card {
  width: 345px;
}

.chipTruncateWrapper {
  width: 20rem;
  padding: $offset / 2;
  margin-top: $offset;
  border: 1px solid #f4f4f4;
}

.dropdownTemplate {
  display: flex;
  flex-direction: row;
}

.dropdownTemplateImage {
  display: flex;
  width: 32px;
  height: 32px;
  flex-grow: 0;
  margin-right: 8px;
  background-color: #ccc;
}

.dropdownTemplateContent {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.customSizedProgress {
  &.circular {
    width: 40px;
    height: 40px;
  }
}
