.Grid {
    .rows {
        margin-top: 8.2rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        .empty {
            color: $page-color-primary;
        }
    }
}
