
.GridView {
    min-height: 600px;
    z-index: 100;
    .headerContainer {
        display: flex;
        align-items: center;
        position: fixed;
        top: 6.4rem;
        left: 0;
        width: 100%;
        background-color: $background_color;
        box-shadow: 0px 15px 5px -12px rgba(0, 0, 0, 0.26) inset;
        z-index: 100;
        .tabs {
            width: 97%;
            //0px 2px 5px 0px rgba(0,0,0,0.26) inset;
            label {
                width: 25%;
                cursor: pointer;
                @media screen and (max-width: 480px) {
                  font-size: 1rem;
                }
                &.custom {
                    position: relative;
                    span {
                        display: inline-block;
                        background-color: transparent;
                        color: $page-color-primary-darken;
                        font-size: 2rem;
                        vertical-align: middle;
                        cursor: pointer;
                        padding-left: 4px;
                        margin-bottom: 0px;
                    }
                }
            }
            span {
                background-color: $page-color-primary-darken;
            }
        }
        .menu {
            width: 4%;

        }
    }
}
