@import "~bourbon/app/assets/stylesheets/bourbon";
$page-color-primary: rgb(29, 115, 205);
$page-color-primary-darken: darken(rgb(29, 115, 205), 15);
$page-color-accent: violet;
$text_color: #7f7f7f;
$grid_border_color: #F1F3F5;
$background_color: #fff;
