
.Ppv {
    position: fixed;
    top: 0;
    left: 0;
    
    .content {
          flex: 1;
          overflow-y: auto;

     }
    header {
        background-color: $page-color-primary;
        color: #fff;
        nav {
            width: 100%;
        }
        .title {
            display: inline-block;
            width: 100%;
            font-size: 1.3em;
            text-align: center;
        }

    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $page-color-primary;
        height: 2.4vh;
        display: block;
        width: 100%;
         box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26) inset;
    }
}
