$cell_width: 16%;

.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .rowCell {
        padding: 1rem 2px;
        color: #666;
        text-align: center;
        width: $cell_width;
        font-size: 1.4rem;
        border-bottom: 1px solid $grid_border_color;
        @media screen and (max-width: 480px) {
          font-size: 1rem;
        }
    }
}
