$break_small: 480px;
.customMenu {
    top: 4.2rem;
    font-size: 1.3rem!important;
    z-index: 100;
    > button {
        top: -4.2rem;
        color: $page-color-primary-darken !important;
    }
    .caption {
        color: $page-color-primary-darken;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
    }
    .header {
        @extend .caption;
        border-bottom: 1px solid $page-color-primary-darken;
        color: $page-color-primary-darken;
        text-align: center;
    }
    .footer {
        @extend .caption;
        border-top: 1px solid $page-color-primary-darken;
        text-align: right;
        padding-top: 0.5rem;
        padding-bottom: 0px;
        height: 3.5rem;
        @media screen and (max-width: $break_small) {
          height: 2rem;
        }
    }
    .columns {
        display: flex;

        @media screen and (max-width: $break_small) {
          flex-wrap: wrap;
        }
        .column {
            display: inline-block;
            width: 50%;

            li.caption {
                min-width: 22rem;
                height: 3.5rem;
                @media screen and (max-width: $break_small) {
                  min-width: 10rem;
                  height: 2.2rem;
                }
                > span {
                    width: 0px !important;
                    display: none;
                }
                label {
                    text-transform: none;
                    margin: 0px;
                    span {
                        color: $text_color;
                    }
                    div {
                        border: 1px solid $text_color;
                        width: 1.6rem;
                        height: 1.6rem;
                        @media screen and (max-width: $break_small) {
                          width: 1.2rem;
                          height: 1.2rem;
                        }

                        &:after {
                            top: -0.2rem;
                            left: 0.3rem;
                            width: 0.6rem;
                            height: 1.0rem;
                        }
                    }

                }
            }
        }
    }
}
